{% load static %}
<title>Bonita Makeup Store</title>
<link rel="stylesheet" href="{%static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- header  and navigation -->
<header class="header">
    <div class="header-text">Bonita Makeup</div>
    <a href="#" class="header-link">Instagram</a>
    <a href="#" class="header-link">Bonita shop</a>
</header>
<!-- landing page hero section -->
<section id="curved">
    <div class="content">
        <h2>Bonita Makeup Store </h2>
        <p>Bonita shop coming soon. Visit our social media platforms to view products available and get awesome deals for all your makeup needs</p>
    </div>
</section>
<section class="landing-section landing-main">
    <h1 class="brand">Bonita </h1>
    <h2>
      <!-- <span class="brand-text">Mu</span>sic -->
      <span class="brand-text">means beautiful
    </h2>
    <p class="landing-main-text">
      
      <br>
      You have found a perfect solution...
    </p>
  </section>
  <!-- main landing page -->
  <!-- <section class="landing-section langing-features">

    <section class="landing-feature feature-music-services">
      <h2>Connect your favourite <span class="brand-text">mu</span>sic services</h2>
      <ul>
        <li>Spotify</li>
        <li>Deezer</li>
      </ul>
    </section>
    <section class="landing-feature feature-notifications">
      <h2>Get <span class="brand-text">n</span>otifications wherever you want them</h2>
      <ul>
        <li>Email</li>
        <li>Telegram</li>
      </ul>
    </section>
  </section> -->